@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    overflow-y: scroll;
}
body, button, input, select, textarea, pre {
    font-family: Arial,"宋体";
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal;
}
small {
    font-size: 12px;
}
ul, ol {
    list-style: none outside none;
}
a {
    color: #0000CC;
    text-decoration: underline;
}
a:hover {
    color: #0000CC;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000000;
}
fieldset, img {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
}
textarea {
    resize: vertical;
}
:focus {
    /* outline: 0 none; */
}
.left {
    float: left;
}
.right {
    float: right;
}
.overflow {
    overflow: hidden;
}
.hide {
    display: none;
}
.inlineBlock {
    display: inline-block;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.error {
    color: #FF0000;
    font-size: 12px;
}
button {
    cursor: pointer;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-50, .grid-60, .grid-70, .grid-80, .grid-90, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24, .grid-25, .grid-26, .grid-27, .grid-28, .grid-29, .grid-30, .grid-31, .grid-32, .grid-33, .grid-34, .grid-35, .grid-36, .grid-37, .grid-38, .grid-39, .grid-40, .grid-41, .grid-42, .grid-43, .grid-44, .grid-45, .grid-46, .grid-47, .grid-48, .grid-49, .grid-50, .grid-51, .grid-52, .grid-53, .grid-54, .grid-55, .grid-56, .grid-57, .grid-58, .grid-59, .grid-60, .grid-61, .grid-62, .grid-63, .grid-64, .grid-65, .grid-66, .grid-67, .grid-68, .grid-69, .grid-70, .grid-71, .grid-72, .grid-73, .grid-74, .grid-75, .grid-76, .grid-77, .grid-78, .grid-79, .grid-80, .grid-81, .grid-82, .grid-83, .grid-84, .grid-85, .grid-86, .grid-87, .grid-88, .grid-89, .grid-90, .grid-91, .grid-92, .grid-93, .grid-94, .grid-95, .grid-96, .grid-97, .grid-98, .grid-99 {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
.grid-1 {
    width: 10px;
}
.grid-2 {
    width: 20px;
}
.grid-3 {
    width: 30px;
}
.grid-4 {
    width: 40px;
}
.grid-5 {
    width: 50px;
}
.grid-6 {
    width: 60px;
}
.grid-7 {
    width: 70px;
}
.grid-8 {
    width: 80px;
}
.grid-9 {
    width: 90px;
}
.grid-10 {
    width: 100px;
}
.grid-11 {
    width: 110px;
}
.grid-12 {
    width: 120px;
}
.grid-13 {
    width: 130px;
}
.grid-14 {
    width: 140px;
}
.grid-15 {
    width: 150px;
}
.grid-16 {
    width: 160px;
}
.grid-17 {
    width: 170px;
}
.grid-18 {
    width: 180px;
}
.grid-19 {
    width: 190px;
}
.grid-20 {
    width: 200px;
}
.grid-21 {
    width: 210px;
}
.grid-22 {
    width: 220px;
}
.grid-23 {
    width: 230px;
}
.grid-24 {
    width: 240px;
}
.grid-25 {
    width: 250px;
}
.grid-26 {
    width: 260px;
}
.grid-27 {
    width: 270px;
}
.grid-28 {
    width: 280px;
}
.grid-29 {
    width: 290px;
}
.grid-30 {
    width: 300px;
}
.grid-31 {
    width: 310px;
}
.grid-32 {
    width: 320px;
}
.grid-33 {
    width: 330px;
}
.grid-34 {
    width: 340px;
}
.grid-35 {
    width: 350px;
}
.grid-36 {
    width: 360px;
}
.grid-37 {
    width: 370px;
}
.grid-38 {
    width: 380px;
}
.grid-39 {
    width: 390px;
}
.grid-40 {
    width: 400px;
}
.grid-41 {
    width: 410px;
}
.grid-42 {
    width: 420px;
}
.grid-43 {
    width: 430px;
}
.grid-44 {
    width: 440px;
}
.grid-45 {
    width: 450px;
}
.grid-46 {
    width: 460px;
}
.grid-47 {
    width: 470px;
}
.grid-48 {
    width: 480px;
}
.grid-49 {
    width: 490px;
}
.grid-50 {
    width: 500px;
}
.grid-51 {
    width: 510px;
}
.grid-52 {
    width: 520px;
}
.grid-53 {
    width: 530px;
}
.grid-54 {
    width: 540px;
}
.grid-55 {
    width: 550px;
}
.grid-56 {
    width: 560px;
}
.grid-57 {
    width: 570px;
}
.grid-58 {
    width: 580px;
}
.grid-59 {
    width: 590px;
}
.grid-60 {
    width: 600px;
}
.grid-61 {
    width: 610px;
}
.grid-62 {
    width: 620px;
}
.grid-63 {
    width: 630px;
}
.grid-64 {
    width: 640px;
}
.grid-65 {
    width: 650px;
}
.grid-66 {
    width: 660px;
}
.grid-67 {
    width: 670px;
}
.grid-68 {
    width: 680px;
}
.grid-69 {
    width: 690px;
}
.grid-70 {
    width: 700px;
}
.grid-71 {
    width: 710px;
}
.grid-72 {
    width: 720px;
}
.grid-73 {
    width: 730px;
}
.grid-74 {
    width: 740px;
}
.grid-75 {
    width: 750px;
}
.grid-76 {
    width: 760px;
}
.grid-77 {
    width: 770px;
}
.grid-78 {
    width: 780px;
}
.grid-79 {
    width: 790px;
}
.grid-80 {
    width: 800px;
}
.grid-81 {
    width: 810px;
}
.grid-82 {
    width: 820px;
}
.grid-83 {
    width: 830px;
}
.grid-84 {
    width: 840px;
}
.grid-85 {
    width: 850px;
}
.grid-86 {
    width: 860px;
}
.grid-87 {
    width: 870px;
}
.grid-88 {
    width: 880px;
}
.grid-89 {
    width: 890px;
}
.grid-90 {
    width: 900px;
}
.grid-91 {
    width: 910px;
}
.grid-92 {
    width: 920px;
}
.grid-93 {
    width: 930px;
}
.grid-94 {
    width: 940px;
}
.grid-95 {
    width: 950px;
}
.grid-96 {
    width: 960px;
}
.grid-97 {
    width: 970px;
}
.grid-98 {
    width: 980px;
}
.grid-99 {
    width: 990px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.clearfix {
}
.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
.wordwrap {
    word-break: break-all;
    word-wrap: break-word;
}
pre.wordwrap {
    white-space: pre-wrap;
}

.mod-header .logo {
    margin: 12px 0 24px;
}
.mod-bread {
    background: url("img/topbarnav_bg.png") repeat-x scroll 0 41px transparent;
    height: 46px;
}
.mod-bread .mod-navbar {
    position: relative;
}
.mod-bread .bread-left {
    border-bottom: 1px solid #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    left: 21px;
    position: absolute;
    text-align: right;
    top: 7px;
}
.mod-bread .bread-left li.mail_reg_tab, .mod-bread .bread-left li.phone_reg_tab, .mod-bread .bread-left li.school_reg_tab   {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #E0E0E0;
    color: #333333;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 33px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 128px;
}
.mod-bread .bread-left li.mail_reg_tab {
    border-right-color: #EAEAEA;
}
.mod-bread .bread-left li.phone_reg_tab {
    border-left-color: #EAEAEA;
}
.mod-bread .bread-left li.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-width: 3px;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    cursor: default;
    font-weight: bold;
}
.mod-bread .bread-left li:hover {
    background: none repeat scroll 0 0 #F9F9F9;
}
.mod-bread .bread-left li.active:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.mod-bread .bread-right {
    float: right;
    height: 46px;
    line-height: 46px;
    padding-right: 20px;
}
.mod-regcontent {
    padding: 0 0 36px;
}
.phone_reg {
    padding: 0 0 36px;
}
.mod-footer {
    color: #7A77C8;
    text-align: center;
}
.pass-suggest-item label input {
    display: none;
}
.pass-suggest-item label {
    background: url("img/reg_radio_button.gif") no-repeat scroll left center transparent;
    color: #333333;
    cursor: default;
    font-size: 12px;
    margin-right: 20px;
    padding: 5px 0 5px 22px;
}
.pass-suggest-title {
    color: #666666;
    font-size: 12px;
}
.tang-pass-reg dl, .tang-pass-reg dt, .tang-pass-reg dd, .tang-pass-reg ul, .tang-pass-reg ol, .tang-pass-reg li, .tang-pass-reg input {
    margin: 0;
    padding: 0;
}
.tang-pass-reg .clearfix:after, .tang-pass-reg .pass-form-item:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.tang-pass-reg .clearfix, .tang-pass-reg .pass-form-item {
}
.tang-pass-reg {
    font: 12px/1.5 tahoma,arial,Hiragino Sans GB,宋体;
    overflow: hidden;
    position: relative;
}
.tang-pass-reg .pass-form-item {
    display: block;
    height: 32px;
    margin-top: 15px;
    position: relative;
}
.tang-pass-reg .pass-label {
    float: left;
    font-size: 14px;
    line-height: 32px;
    padding-right: 15px;
    text-align: right;
    width: 137px;
}
.tang-pass-reg .pass-text-input {
    background: url("img/bd-split.gif") no-repeat scroll 0 -160px transparent;
    border-color: #CCCCCC #DDDDDD #DDDDDD #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    float: left;
    font-size: 14px;
   /*  height: 30px;
    line-height: 30px;
    padding: 0 8px; */
    padding: 8px;
    transition-duration: 0.5s;
    transition-property: all;
    width: 245px;
}
.tang-pass-reg .pass-text-input-hover {
    border-color: #ABABAB #CCCCCC #CCCCCC #ABABAB;
}
.tang-pass-reg .pass-text-input-focus {
    border-color: #377BCB;
}
.tang-pass-reg .pass-text-input-error {
    border-color: #DB1111 #D91111 #D91111;
}
.tang-pass-reg .pass-generalError {
    color: #DA1111;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 152px;
}
.tang-pass-reg .pass-text-input:focus {
    outline: 0 none;
}
.tang-pass-reg .pass-text-input-verifyCode {
    width: 78px;
}
.tang-pass-reg .pass-verifyCode {
    border: 1px solid #DDDDDD;
    float: left;
    height: 30px;
    margin-left: 5px;
}
.tang-pass-reg .pass-change-verifyCode {
    color: #0000CC;
    cursor: pointer;
    float: left;
    font-size: 12px;
    line-height: 32px;
    margin-right: 20px;
    padding-left: 5px;
    text-decoration: underline;
}
.tang-pass-reg .pass-form-item-isAgree {
    clear: both;
    color: #666666;
    font-size: 12px;
    height: 18px;
    margin-top: 10px;
    padding-left: 152px;
}
.tang-pass-reg .pass-form-item-isAgree label {
    padding-left: 5px;
}
.tang-pass-reg .pass-form-item-isAgree input {
    vertical-align: middle;
}
.tang-pass-reg .pass-form-item-submit {
    margin-top: 15px;
    padding-left: 152px;
}
.tang-pass-reg .pass-button-submit {
    background: url("img/bd-split.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 34px;
    padding-bottom: 2px;
    width: 109px;
}
.tang-pass-reg .pass-button-submit:hover {
    background-position: -120px 0;
}
.tang-pass-reg .pass-button-submit:active {
    background-position: -240px 0;
}
.item-tip{
	display:none;
}
.tang-pass-reg .pass-item-error, .tang-pass-reg .pass-item-tip {
    float: left;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}
.tang-pass-reg .pass-item-error {
    color: #DA1111;
}
.tang-pass-reg .pass-item-tip {
    color: #A4A4A4;
}
.tang-pass-reg .pass-pop-tip {
    color: #666666;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1004;
}
.tang-pass-reg .pass-pop-tip-header {
    background: url("img/reg_tip_header_t.gif") no-repeat scroll 0 11px transparent;
    float: left;
    height: 21px;
    position: relative;
    width: 6px;
    z-index: 1000;
}
.tang-pass-reg .pass-pop-tip-container {
    background: url("img/reg_tip_bg_bottom.gif") repeat-x scroll center bottom transparent;
    float: left;
    margin-left: -1px;
    padding-bottom: 2px;
    position: relative;
}
.tang-pass-reg .pass-pop-tip-body {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    float: left;
    min-height: 30px;
}
.tang-pass-reg .pass-pop-tip-content {
    color: #666666;
    display: block;
    padding: 5px 9px 4px;
}
.tang-pass-reg .pass-suggest-name {
    padding-left: 152px;
}
.tang-pass-reg .pass-suggest-name p {
    margin: 7px 0;
}
.tang-pass-reg .pass-suggest-name input {
    margin-right: 5px;
    vertical-align: middle;
}
.tang-pass-reg .pass-form-item-verifyCodeSend {
    padding-left: 152px;
}
.tang-pass-reg .pass-form-item-verifyCodeSend input {
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    box-shadow: 1.5px 1.5px 3px rgba(4, 0, 0, 0.15);
    cursor: default;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 24px;
    width: 170px;
}
.tang-pass-reg .smsSendHover input:hover {
    cursor: pointer;
}
.tang-pass-reg .smsSendHover input:active {
}
.tang-pass-reg .pass-form-item-verifyCodeSend .pass-text-input-disabled {
    color: #AFAFAF;
}
.tang-pass-reg .pass-form-item-verifyCodeSend .pass-item-err {
    height: 30px;
    line-height: 30px;
}
.tang-pass-reg .pwd-strength {
    display: block;
    padding-bottom: 8px;
    width: 340px;
}
.tang-pass-reg .strength-title {
    float: left;
}
.tang-pass-reg .strength-value {
    color: #666666;
    float: left;
}
.tang-pass-reg .strength-bg {
    background: none repeat scroll 0 0 #F1F1F1;
    float: left;
    height: 5px;
    margin-left: 15px;
    margin-top: 5px;
    overflow: hidden;
    width: 165px;
}
.tang-pass-reg .strength-inner {
    background: none repeat scroll 0 0 #CC0000;
    display: block;
    height: 5px;
    overflow: hidden;
    width: 0;
}
.tang-pass-reg .strength-explain {
    display: block;
    width: 250px;
}

.tang-pass-reg .strength-bg .invalid {
    background: none repeat scroll 0 0 #CC0000;
    width: 0px;
}
.tang-pass-reg .strength-bg .weak {
    background: none repeat scroll 0 0 #CC0000;
    width: 55px;
}
.tang-pass-reg .strength-bg .middle {
    background: none repeat scroll 0 0 #E9BA54;
    width: 110px;
}
.tang-pass-reg .strength-bg .strong {
    background: none repeat scroll 0 0 #7BB55D;
    width: 165px;
}
.pass-item-succ {
    background: url("img/topbarnav_bg.png") repeat-x scroll 0 -10px transparent;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    width: 25px;
}

/**for info page*/
.common-layout .banner {
    background: none repeat scroll 0 0 #E9F6FF;
    border-bottom: 2px solid #CFDCE5;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    width: 940px;
}
#header, #content, #footer {
    margin: 0 auto;
    width: 960px;
}