.frame-main {
    border-top:solid 4px #499AD5;
}
.skin-top {
    background-color: #FFFFFF;
}
.skin-left {
    box-shadow: -1px 0 1px #F8F8F8 inset;
    background-color: #F5F5F5;
    border-color: #BDBDBD;
}
.skin-top-right {
    background-image: url("img/top_right.jpg");
}
.skin-right-hack, body {
    background-color: #FFFFFF;
}

.seperator-li {
    color:#D7C8BB;
}
p a:first-child { color: green }
/**
	main tab颜色样式
*/
/* .frame-main  */ul.tabs:first-child li a.tabs-inner{
  background: -webkit-linear-gradient(top,#FEFFFF 0,#D0DFEC 100%);
  background: -moz-linear-gradient(top,#FEFFFF 0,#D0DFEC 100%);
  background: -o-linear-gradient(top,#FEFFFF 0,#D0DFEC 100%);
  background: linear-gradient(to bottom,#FEFFFF 0,#D0DFEC 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FEFFFF,endColorstr=#D0DFEC,GradientType=0);
  
  border-color: #B6C7D3;
  color: #6F879B;
}
/* .frame-main  */ul.tabs:first-child li:hover a.tabs-inner{
  background: -webkit-linear-gradient(top,#FFFFFF 0,#BDD0E2 100%);
  background: -moz-linear-gradient(top,#FFFFFF 0,#BDD0E2 100%);
  background: -o-linear-gradient(top,#FFFFFF 0,#BDD0E2 100%);
  background: linear-gradient(to bottom,#FFFFFF 0,#BDD0E2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#BDD0E2,GradientType=0);
  
  border-color: #A1ACB8;
}
/* .frame-main  */ul.tabs:first-child li.tabs-selected a.tabs-inner{
  background: -webkit-linear-gradient(top,#66A8D8 0,#499AD5 100%);
  background: -moz-linear-gradient(top,#66A8D8 0,#499AD5 100%);
  background: -o-linear-gradient(top,#66A8D8 0,#499AD5 100%);
  background: linear-gradient(to bottom,#66A8D8 0,#499AD5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66A8D8,endColorstr=#499AD5,GradientType=0);
  
  border-color: #2A73A8;
  color: #FFFFFF;
}
/**
	end main tab颜色样式
*/

/* .frame-main-content  */.datagrid-row{
	height:40px;
}
/* .frame-main-content  */.datagrid-body td{
	border-style: solid;
    border-width: 0 0 1px 0;
}
/* .frame-main-content  */.datagrid-cell, .frame-main-content .datagrid-cell-group, .frame-main-content .datagrid-cell-rownumber{
	font-size:14px;
}